.searchpage{

	margin-top:40px;

}



.searchitem{

	border-bottom:3px solid #f4b0b8;

	clear:both;

	color:#f4b0b8;

	float:left;

	margin-bottom:20px;

	width:100%;

}



.searchitem span{

	float:left;

	font-family:Lobster;

	font-size:30px;

	font-weight:normal;

	line-height:50px;

}



.wrapmenu{

	float: left;

	font-family:'ProximaNova-Regular';

	text-align: left;

	margin: 90px 30px 0 0;	

	width: 130px;	

}



ul.type_search{

	background:#fcd1d8;

	float: left;

	font-family:'ProximaNova-Regular';

	text-align: left;

	width: 100%;

}



ul.cat_search{

	margin: 20px 30px 0 0;

}

ul.type_search li{

	font-family:'ProximaNova-Regular';

	color:#ed7e8b;

	float:left;

	width:110px;

	padding:0 10px;	

}

ul.type_search li a{

	color:inherit;

	text-decoration:none;

}

ul.type_search li a:hover,

ul.type_search li a.selected{

	color:#fff;

}



ul.type_search li.first{

	background:#f0949e;

	color:#fff;

	float:left;

	width:110px;

	padding:0 10px;

}

ul.type_search li.first span.arrow{

	float:right;

}