.wrapnews{
    clear: both;
    float: left;
    margin: 20px 0 0 40px;
    width: 654px;
}

    .wrapnews .newscontent{
        background-color: #F0F0F0;
        clear: both;
        float: left;
        font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
        margin: 0 0 20px 0;
        min-height: 208px;
        width: 100%;
    }
        .newscontent .newsimage{
            clear: both;
            float: left;
            height: 171px;
            margin: 8px 0 0 13px;
            width: 283px;
        }
        .newscontent p{
            color: #757575;
            float: left;
            font-size: 12px;
            line-height: 1.5;
            margin-left: 23px;
            width: 317px;
        }
        .newscontent p.title{
            color: #8D212F;
            font-size: 14px;
            margin-top: 10px;
        }
            .newscontent p.title a{
                color: #757575;
                font-weight: bold;
            }
            .newscontent p.title a:hover{
                color: #8D212F;
            }
        .newscontent p.date{
            color: #757575;
            font-size: 10px;
            margin-top: 25px;
        }
        .newscontent p.desc{
            color: #757575;
            font-size: 12px;
            line-height: 1.5;
            margin-top: 15px;
        }

.leftcontent{
    clear: both;
    float: left;
    padding: 20px 75px 0 0px;
    margin: 20px 0 0 39px;
    min-height: 563px;
    width: 430px;
}
    .leftcontent span{
        clear: both;
        float: left;
        font-weight: bold;
        padding: 0 0 8px 0;
        margin: 0 0 10px 0;
        font-size: 14px;
    }
    .leftcontent span.header{
        border-bottom: 1px solid #000;
        width: 100%;
    }
    .leftcontent p{
        clear: both;
        float: left;
        font-size: 12px;
        line-height: 19px;
        margin: 0 0 32px 0;
    }
    .leftcontent table{
        clear:both;
        float: left;
        font-size: 12px;
    }
        .leftcontent table tr td:first-child{
            width: 33px;
        }
        .leftcontent table tr td:last-child{
            line-height: 17px;
            padding-bottom: 15px;
        }
        
.rightcontent{
    float: left;
    padding: 20px 0px 0 0px;
    margin: 20px 0 0 39px;
    min-height: 563px;
    width: 430px;
}
    .rightcontent span{
        clear: both;
        float: left;
        font-weight: bold;
        padding: 0 0 8px 0;
        margin: 0 0 10px 0;
        font-size: 14px;
    }
    .rightcontent span.header{
        color: #757575;
        border-bottom: 1px solid #000;
        padding: 0 0 18px 0;
        width: 100%;
    }
    .rightcontent span.date{
        color: #757575;
        font-size: 10px;
        font-weight: normal;
        padding: 0 0 18px 0;
        width: 100%;
    }
    .rightcontent p{
        clear: both;
        float: left;
        font-size: 12px;
        line-height: 19px;
    }
    .rightcontent p b{
        font-weight: bold;
    }
    .rightcontent table{
        clear:both;
        float: left;
        font-size: 12px;
    }
        .rightcontent table tr td:first-child{
            width: 33px;
        }
        .rightcontent table tr td:last-child{
            line-height: 17px;
            padding-bottom: 15px;
        }
    .rightcontent .border{
        clear: both;
        float: left;
        background: #000;
        height: 1px;
        width: 100%;
    }
    .rightcontent .social{
        clear: both;
        float: left;
        margin: 4px 0 0 0;
        padding: 0 0 0 4px;
        width: 426px;
    }
        .social img{
            float: left;
        }
        .social .fblink{
            color: #800080;
            float: left;
            font-size: 10px;
            margin: 8px 0 0 7px;
            text-decoration: underline;
        }
            .social .fblink:hover{
                color: #0000FF;
            }
        .social .twitter-share-button{
            float: left;
            margin: 4px 0 0 25px;
        }
        .social .back{
            color: #800080;
            float: right;
            font-size: 12px;
            margin: 8px 0 0 7px;
            text-decoration: none;
        }

.wrappaging{
    clear: both;
    float: left;
    margin: 0 0 14px 38px;
    width: 656px;
}
    .wrappaging ul{
        clear: both;
        float: right;
    }
        .wrappaging ul li{
            float: left;
            margin: 0 3px;
        }
            .wrappaging ul li a{
                background-color: #8D212F;
                color: #fff;
                float: left;
                padding: 4px 7px;
            }
                .wrappaging ul li a:hover{
                    font-weight: bold;
                }